# Data Analysis
## Sharmetov Nurdaulet, 24MD0387
#### Practical 2

In [ ]:
import pandas as pd

In [2]:
data_type = pd.read_csv('Data_Type_excercise.csv')

In [12]:
data_type.head(10)

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000
5,6,"Bailey, GJ",2,AUS,CSK,Batsman,0,0,172,72.26,...,95.45,0,0,0,0.00,0.00,0.00,2009,50000,50000
6,7,"Balaji, L",2,IND,CSK+,Bowler,51,27,120,78.94,...,72.22,1,1342,52,25.81,7.98,19.40,2011,100000,500000
7,8,"Bollinger, DE",2,AUS,CSK,Bowler,54,50,50,92.59,...,165.88,1,693,37,18.73,7.22,15.57,2011,200000,700000
8,9,"Botha, J",2,SA,RR,Allrounder,83,17,609,85.77,...,114.73,3,610,19,32.11,6.85,28.11,2011,200000,950000
9,10,"Boucher, MV",2,SA,RCB+,W. Keeper,5515,1,4686,84.76,...,127.51,13,0,0,0.00,0.00,0.00,2008,200000,450000

### Part 1

In [5]:
data = pd.DataFrame({"Nur": [98,87,76,88,96], "Alia": [88,52,69,79,82], 'Ali': [90,92,71,60,64]})

In [8]:
data

   Nur  Alia  Ali
0   98    88   90
1   87    52   92
2   76    69   71
3   88    79   60
4   96    82   64

#### Mean across the columns

In [9]:
data.mean()

Nur     89.0
Alia    74.0
Ali     75.4
dtype: float64

#### Mean across the rows

In [11]:
data.mean(axis=1)

0    92.000000
1    77.000000
2    72.000000
3    75.666667
4    80.666667
dtype: float64

#### Median across the columns

In [13]:
data.median()

Nur     88.0
Alia    79.0
Ali     71.0
dtype: float64

#### Most freq. values in each column

In [17]:
data.mode()

   Nur  Alia  Ali
0   76    52   60
1   87    69   64
2   88    79   71
3   96    82   90
4   98    88   92

#### looks like there aren't any frequent values and all the values are unique

#### Mean for Nur only

In [18]:
data['Nur'].mean()

np.float64(89.0)

#### $\mu_{Nur} = 89$

#### Nur is a good student, I guess, if it is grades of his

### Part 2

#### Sample variance for each column

In [19]:
data.var()

Nur      76.0
Alia    198.5
Ali     218.8
dtype: float64

#### Population variance

In [20]:
data.var(ddof=0)

Nur      60.80
Alia    158.80
Ali     175.04
dtype: float64

#### Sample variance for Nur

In [21]:
data['Nur'].var()

np.float64(76.0)

#### Sample variance for Nur using formula that we are familiar with

In [26]:
X = data['Nur']
X_mean = X.mean()
Nur_var = ((X - X_mean)**2).sum() / (len(X)-1)

In [27]:
Nur_var

np.float64(76.0)

#### Same results

#### Population variance for Nur

In [28]:
X.var(ddof=0)

np.float64(60.8)

#### Population variance for Nur using formula

In [29]:
Nur_var_ppl = ((X - X_mean) ** 2 ).sum() / len(X)

In [30]:
Nur_var_ppl

np.float64(60.8)

#### Success

#### Sample Std deviation for each column

In [31]:
data.std()

Nur      8.717798
Alia    14.089003
Ali     14.791890
dtype: float64

#### Population Std deviation for each column

In [32]:
data.std(ddof=0)

Nur      7.797435
Alia    12.601587
Ali     13.230268
dtype: float64

#### Population std dev for Nur

In [33]:
import numpy as np

In [35]:
Nur_pop_std_dev = np.sqrt(Nur_var_ppl)

In [36]:
Nur_pop_std_dev

np.float64(7.797435475847171)

### Additional exercises

In [39]:
x = pd.DataFrame([1,2,3,4,5,6,7,8,9,10,11])

In [40]:
x.mean()

0    6.0
dtype: float64

In [41]:
x.mode()

     0
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
10  11

In [42]:
x.median()

0    6.0
dtype: float64

In [43]:
x.var()

0    11.0
dtype: float64

In [44]:
x.std()

0    3.316625
dtype: float64